description = "Scripts"

[viewBag]
==
<script src="{{'assets/web/assets/jquery/jquery.min.js'|theme}}"></script>
<script src="{{'assets/tether/tether.min.js'|theme}}"></script>
<script src="{{'assets/popper/popper.min.js'|theme}}"></script>
<script src="{{'assets/bootstrap/js/bootstrap.min.js'|theme}}"></script>
<script src="{{'assets/mbr-flip-card/mbr-flip-card.js'|theme}}"></script>
<script src="{{'assets/dropdown/js/script.min.js'|theme}}"></script>
<script src="{{'assets/parallax/jarallax.min.js'|theme}}"></script>
<script src="{{'assets/ytplayer/jquery.mb.ytplayer.min.js'|theme}}"></script>
<script src="{{'assets/vimeoplayer/jquery.mb.vimeo_player.js'|theme}}"></script>
<script src="{{'assets/playervimeo/vimeo_player.js'|theme}}"></script>
<script src="{{'assets/viewportchecker/jquery.viewportchecker.js'|theme}}"></script>
<script src="{{'assets/masonry/masonry.pkgd.min.js'|theme}}"></script>
<script src="{{'assets/imagesloaded/imagesloaded.pkgd.min.js'|theme}}"></script>
<script src="{{'assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js'|theme}}"></script>
<script src="{{'assets/smoothscroll/smooth-scroll.js'|theme}}"></script>
<script src="{{'assets/mbr-popup-btns/mbr-popup-btns.js'|theme}}"></script>
<script src="{{'assets/touchswipe/jquery.touch-swipe.min.js'|theme}}"></script>
<script src="{{'assets/countdown/jquery.countdown.min.js'|theme}}"></script>
<script src="{{'assets/as-pie-progress/jquery-as-pie-progress.min.js'|theme}}"></script>
<script src="{{'assets/mbr-tabs/mbr-tabs.js'|theme}}"></script>
<script src="{{'assets/mbr-switch-arrow/mbr-switch-arrow.js'|theme}}"></script>
<script src="{{'assets/sociallikes/social-likes.js'|theme}}"></script>
<script src="{{'assets/mbr-clients-slider/mbr-clients-slider.js'|theme}}"></script>
<script src="{{'assets/mbr-testimonials-slider/mbr-testimonials-slider.js'|theme}}"></script>
<script src="{{'assets/datatables/jquery.data-tables.min.js'|theme}}"></script>
<script src="{{'assets/datatables/data-tables.bootstrap4.min.js'|theme}}"></script>
<script src="{{'assets/index.js'|theme}}"></script>
<script src="{{'assets/slick.min.js'|theme}}"></script>
<script src="{{'assets/theme/js/script.js'|theme}}"></script>
<script src="{{'assets/slidervideo/script.js'|theme}}"></script>
<script src="{{'assets/formoid/formoid.min.js'|theme}}"></script>
<script src="{{'assets/gallery/player.min.js'|theme}}"></script>
<script src="{{'assets/gallery/script.js'|theme}}"></script>