[viewBag]
==
<section class="mbr-section content6 cid-rpoGK8OVWS" id="content-{{data.block_layout}}">
    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-10">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 80%;">
                      <img src="{{data.image|media}}" alt="Mobirise">  
                    </div>
                    <div class="media-content">
                        <div class="mbr-section-text">
                            
                               {{data.content_article8|raw}}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<style>
#content-{{data.block_layout}}{
        background-color: {{data.background_color}}!important;        
    }
#content-{{data.block_layout}} p{    
        color: {{data.text_color}}!important;
    } 
#content-{{data.block_layout}}{
        padding-top: {{data.height}}!important;
        padding-bottom: {{data.height}}!important;    
    }                        
</style>