[viewBag]
==
<section class="cid-rpoGLWl7g5" id="content-{{data.block_layout}}">
    
    <div class="container">
    {% for item in data.image_article11%}
        <div class="media-container-row" style="width: 66%;">
            <div class="img-item item1" style="width: 179%;">
                <img src="{{item.image|media| resize(300)}}">
                <div class="img-caption">
                    <p class="mbr-fonts-style align-center mbr-black display-7">
                        <a href="{{item.url}}">{{item.text}}</a>
                    </p>
                </div>
            </div>
            <div class="img-item">
                <img src="{{item.image_right|media}}">
                <div class="img-caption">
                    <p class="mbr-fonts-style align-center mbr-black display-7">
                        <a href="{{item.url_right}}">{{item.text_right}}</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>





<style>
#content-{{data.block_layout}}{
        background-color: {{data.background_color}}!important;        
    }
#content-{{data.block_layout}} a{    
        color: {{data.text_color}}!important;
    }  
#content-{{data.block_layout}}{
        padding-top: {{data.height}}!important;
        padding-bottom: {{data.height}}!important;    
    }                        
</style>