[viewBag]
==
<section class="contacts4 cid-rpoHEeIC7t" id="contacts-{{data.block_layout}}">

    <div class="main_wrapper">
        <div class="b_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5 p-0">
                        <div class="block p-5">
                            <div class="block_wrapper">
                                <h4 class="align-left mbr-fonts-style pb-4 m-0 display-5">{{"Контакты"|_}}</h4>
                                <p class="mbr-text align-left mbr-fonts-style pb-4 m-0 display-7">{{data.phone_h}} <br>{{data.email_h}}</p>
                                <p class="mbr-text align-left mbr-fonts-style m-0 display-7">{{data.address_h}}<br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Map-->
        <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCx3d07zxHPLvkFBLlAR3Ng8a9wsAsGoJ8&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe></div>
    </div>
</section>