[viewBag]
==
<section class="countdown1 cid-rpoHaA3t2a" id="countdown-{{data.block_layout}}">
    
    <div class="container ">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            {{data.title}}
        </h2>
        <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
            {{data.description}}
        </h3>
        
    </div>
    <div class="container countdown-cont align-center">
        <div class="daysCountdown" title="Days"></div>
        <div class="hoursCountdown" title="Hours"></div> 
        <div class="minutesCountdown" title="Minutes"></div> 
        <div class="secondsCountdown" title="Seconds"></div>
        <div class="countdown pt-5 mt-2" data-due-date="{{data.start}}"> 
        </div>
    </div>
</section>