[viewBag]
==
<section class="countdown2 cid-rpoHbhAGDk" id="countdown-{{data.block_layout}}">

    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            {{data.title}}
        </h2>
        <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
            {{data.description}}
        </h3>
    </div>
    <div class="container pt-5 mt-2">
        <div class=" countdown-cont align-center p-4">
            <div class="event-name align-left mbr-white ">
                <h4 class="mbr-fonts-style display-5"></h4>
            </div>
            <div class="countdown align-center py-2" data-due-date="{{data.start}}">
            </div>
            <div class="daysCountdown" title="Days"></div>
            <div class="hoursCountdown" title="Hours"></div>
            <div class="minutesCountdown" title="Minutes"></div>
            <div class="secondsCountdown" title="Seconds"></div>
            <div class="event-date align-left mbr-white">
                <h5 class="mbr-fonts-style display-7">
                    {{data.start}} - Event start
                </h5>
            </div>
        </div>

        
    </div>
</section>