[viewBag]
==
<section class="features9 cid-rpoGT4UNeT" id="features-{{data.block_layout}}">
 
    <div class="container">
        <div class="row justify-content-center">
        
        {% for item in data.add_card_s4 %}
            <div class="card p-3 col-12 col-md-6">
                <div class="media-container-row">
                    <div class="card-img pr-2">
                        <span class="{{item.icon}}" style="color: {{item.color_icon}};!ipmortant"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">
                            {{item.title}}
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           {{item.description}}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}    
            
        </div>
    </div>
</section>






<style>
#features-{{data.block_layout}}{
        background-color: {{data.background_color}}!important;        
    }
#features-{{data.block_layout}} h4, #features-{{data.block_layout}} p{    
        color: {{data.text_color}}!important;
    }      
#features-{{data.block_layout}}{
        padding-top: {{data.height}} !important;        
        padding-bottom: {{data.height}} !important;        
    }             
</style>