[viewBag]
==
<section class="features2 cid-rpoGOOWdQB" id="features-{{data.block_layout}}">
    
    <div class="container">
        <div class="media-container-row">
        
        {% for item in data.add_card %}
            <div class="card p-3 col-12 col-md col-lg">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{item.image|media}}" alt="Mobirise">
                    </div>
                    <div class="card-box p-3">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            {{item.title}}
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            {{item.description}}<a href="{{item.url}}"> {{"Подробнее..."|_}}</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}    
    
        </div>
    </div>
    
</section>






<style>
#features-{{data.block_layout}}{
        background-color: {{data.background_color}}!important;        
    }
#features-{{data.block_layout}} .card-wrapper{
        background-color: {{data.background_card}}!important;        
    }
#features-{{data.block_layout}} h4, #features-{{data.block_layout}} p{    
        color: {{data.text_color}}!important;
    }      
#features-{{data.block_layout}}{
        padding-top: {{data.height}} !important;        
        padding-bottom: {{data.height}} !important;        
    }             
</style>