[viewBag]
==
<section class="mbr-section form1 cid-rpoHwat7z6" id="form-{{data.block_layout}}">

    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    {{data.title}}
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    {{data.description}}
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">
                        {{"Спасибо за заполнение анкеты!"|_}}
                    </div>
            
                    <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="rN/nv8+01LPPPJF+OGcot0I84Zh2Bz/bnuY2t0otTb3yssQVlIANN2Qc3FsEQ84jJz2M/OKE5ZO5mJo4ePpI/pt2huhQ2bJZBJCWFvFHtjQxlyYoVjBik3HufLkiAP9y">
                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal {{data.on_off_name == 1 ? 'd-none' : ''}}" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-2r">Имя</label>
                                    <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-2r">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal {{data.on_off_email == 1 ? 'd-none' : ''}}" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-2r">Email</label>
                                    <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-2r">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal {{data.on_off_phone == 1 ? 'd-none' : ''}}" data-for="phone">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-2r">Телефон</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-2r">
                                </div>
                            </div>
                        </div>
                        <div class="form-group {{data.on_off_message == 1 ? 'd-none' : ''}}" data-for="message">
                            <label class="form-control-label mbr-fonts-style display-7" for="message-form1-2r">Сообщение</label>
                            <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-2r"></textarea>
                        </div>
            
                        <span class="input-group-btn">
                            <button href="" type="submit" class="btn {{data.color}} btn-form display-4">{{"ОТПРАВИТЬ"|_}}</button>
                        </span>
                    </form>
            </div>
        </div>
    </div>
</section>




<style>
#form-{{data.block_layout}}{
        background-color: {{data.background_color}}!important;        
    }
#form-{{data.block_layout}} h4, #form-{{data.block_layout}} p, #form-{{data.block_layout}} h3, #form-{{data.block_layout}} h2{    
        color: {{data.text_color}}!important;
    }      
#form-{{data.block_layout}}{
        padding-top: {{data.height}} !important;        
        padding-bottom: {{data.height}} !important;        
    }             
</style>