[viewBag]
==
<section class="cid-rpoGwu0ZPU" id="images-{{data.block_layout}}">

    <figure class="mbr-figure container">
            <div class="image-block" style="width: 80%;">
                <img src="{{data.image|media}}" width="1400" alt="Mobirise">
                <figcaption class="mbr-figure-caption mbr-figure-caption-over">
                    <div class="container pb-5 mbr-white align-center mbr-fonts-style display-1">
                        {{data.title}}
                    </div>
                </figcaption>
            </div>
    </figure>
    
</section>




<style>
#images-{{data.block_layout}}{
        background: linear-gradient(0deg, #cc2952, {{data.background_color}})!important; 
    }
#images-{{data.block_layout}}{
        padding-top: {{data.height}} !important;        
    }             
</style>