[viewBag]
==
<section class="header13 cid-rpoGno3dwx mbr-parallax-background" id="intro-{{data.block_layout}}">

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    </div>

    <div class="container">
        
        {% for item in data.icon_intro8 %}
            <div class="mbr-media show-modal align-center pb-4 mb-4 pt-5 {{item.on_off == 1 ? 'd-none' : ''}}" data-modal=".modalWindow">
                <a href="{{item.url}}"><span class="mbr-icofont mbri-play" style="background-color: {{item.color}}!important; color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span></a>
            </div>
        {% endfor %}
        
        <h1 class="mbr-section-title align-center pb-3 mbr-bold mbr-fonts-style display-1">
            {{data.title}}
        </h1>

        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">
            {{data.subtitle}}
        </h3>

        <div class="container mt-5 pt-5 pb-5">
            <div class="media-container-column" data-form-type="formoid">
                <div data-form-alert="" hidden="">Спасибо за заполнение анкеты!</div>

                <form class="form-inline" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
                    <input type="hidden" value="uqSzReBCoRpRDePYQS3Zb2FduT7KNlK/sDsF9l2c5PpqxL/ps8XPKV3WEyasa7iolmgVu1VSuYP+4qv+QfgSU/IPzsXb3g8z4FT/tvv1e2GpCDsLYJcIeR2TTTziMxLi" data-form-email="true">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm input-inverse" name="name" required="" data-form-field="Name" placeholder="Name" id="name-header13-b">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-sm input-inverse" name="email" required="" data-form-field="Email" placeholder="Email" id="email-header13-b">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control input-sm input-inverse" name="phone" data-form-field="Phone" placeholder="Phone" id="phone-header13-b">
                    </div>    
                                    
                    {% for item in data.button_left %}
                        <div class="buttons-wrap {{item.on_off == 1 ? 'd-none' : ''}}">
                            <button href="" class="btn {{item.color}} display-4" type="submit" role="button">{{item.text}}</button>
                        </div>
                    {% endfor %}    
                </form>
            </div>
        </div>
    </div>

    <div>
        <div class="modalWindow" style="display: none;">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="http://www.youtube.com/watch?v=uNCr7NdOJgw"></iframe>
                    </div>
                    <a class="close" role="button" data-dismiss="modal">
                        <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>
                        <span class="sr-only">Закрыть</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>




<style>
#intro-{{data.block_layout}}{
        background-image: url({{data.background_image_intro8|media}})!important;        
    }
#intro-{{data.block_layout}} h1, #intro-{{data.block_layout}} h3, #intro-{{data.block_layout}} p{
        color: {{data.text_color}};
    } 
#intro-{{data.block_layout}}{
        padding-top: {{data.height}}!important;
        padding-bottom: {{data.height}}!important;    
    }            
</style>