[viewBag]
==
<section class="map2 cid-rpoHH44PO4" id="map-{{data.block_layout}}">

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCx3d07zxHPLvkFBLlAR3Ng8a9wsAsGoJ8&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
    
</section>