[viewBag]
==
<section class="carousel slide testimonials-slider cid-rpoIY81NxI" id="testimonials-{{data.block_layout}}">
 
    <div class="container text-center">
        <h2 class="pb-5 mbr-fonts-style display-2">
            {{data.title}}
        </h2>

        <div class="carousel slide" data-ride="carousel" role="listbox">
            <div class="carousel-inner"> 
            {% for item in data.add_item %}
                <div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="{{item.image|media}}">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                {{item.description}}
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            {{item.text}}
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7">
                            {{item.text1}}
                        </div>
                    </div>
                </div>
            {% endfor %}    
            </div>

            <div class="carousel-controls">
                <a class="carousel-control-prev" role="button" data-slide="prev">
                  <span aria-hidden="true" class="mbri-arrow-prev mbr-iconfont"></span>
                  <span class="sr-only">Назад</span>
                </a>
                
                <a class="carousel-control-next" role="button" data-slide="next">
                  <span aria-hidden="true" class="mbri-arrow-next mbr-iconfont"></span>
                  <span class="sr-only">Вперед</span>
                </a>
            </div>
        </div>
    </div>
</section>




<style>
#testimonials-{{data.block_layout}}{
        background-color: {{data.background_color}}!important;        
    }
#testimonials-{{data.block_layout}} .display-7, #testimonials-{{data.block_layout}} p, #testimonials-{{data.block_layout}} h2{    
        color: {{data.text_color}}!important;
    }      
#testimonials-{{data.block_layout}}{
        padding-top: {{data.height}} !important;        
        padding-bottom: {{data.height}} !important;        
    }             
</style>