[viewBag]
==
<section class="services6 cid-rpoH6KAGMu" id="services-{{data.block_layout}}">

    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style m-0 display-1">
                    {{data.title_service3}}
                </h2>
                
            </div>
            
            {% for item in data.add_card_w4 %}
            <div class="card col-12 pb-5">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-12 col-md-2">
                                <!--Image-->
                                <div class="mbr-figure">
                                    <img src="{{item.image|media}}" alt="ITmaker">
                                </div>
                            </div>
                            <div class="col-12 col-md-10">
                                <div class="wrapper">
                                    <div class="top-line pb-3">
                                        <h4 class="card-title mbr-fonts-style display-5">
                                            {{item.title}}
                                        </h4>
                                        <p class="mbr-text cost mbr-fonts-style m-0 display-5">
                                            {{item.price}}
                                        </p>
                                    </div>
                                    <div class="bottom-line">
                                        <p class="mbr-text mbr-fonts-style display-7">
                                            {{item.description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}            
            
        </div>
    </div>
</section>






<style>
#services-{{data.block_layout}}{
        background-color: {{data.background_color}}!important;        
    }
#services-{{data.block_layout}} h4, #services-{{data.block_layout}} p, #services-{{data.block_layout}} h2{    
        color: {{data.text_color}}!important;
    }      
#services-{{data.block_layout}}{
        padding-top: {{data.height}} !important;        
        padding-bottom: {{data.height}} !important;        
    }             
</style>