[viewBag]
==
<section class="tabs1 cid-rpoHkI3pbM mbr-parallax-background" id="tabs-{{data.block_layout}}">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container">
        <h2 class="mbr-white align-center pb-5 mbr-fonts-style mbr-bold display-2">
            {{data.title}}
        </h2>
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <ul class="nav nav-tabs" role="tablist">
                {% for key, item in data.add_button_w %}
                    <li class="nav-item">
                        <a class="nav-link {{ key == 1 ? 'active' : '' }} mbr-fonts-style display-7" role="tab" data-toggle="tab" href="#tab{{key}}">
                            {{item.title}}
                        </a>
                    </li>
                {% endfor %}                    
                </ul>
                <div class="tab-content">
                
                {% for key, item in data.add_description_w %}
                    <div id="tab{{key}}" class="tab-pane in {{ key == 1 ? 'active' : '' }}" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text py-5 mbr-fonts-style display-7">
                                    {{item.description}}
                                </p>
                            </div>
                        </div>
                    </div>                
                {% endfor %}    
                
                </div>
            </div>
        </div>
    </div>
</section>





<style>
#tabs-{{data.block_layout}}{
        background-image: url({{data.background_image|media}})!important;        
    }
#tabs-{{data.block_layout}}{
        background-color: {{data.background_color}} !important;
    }    
#tabs-{{data.block_layout}}  .nav-tabs .nav-link .active:hover{
        background-color: {{data.button_color}} !important;
    }
#tabs-{{data.block_layout}}  .nav-tabs .nav-link.active{    
        background-color: {{data.button_color}} !important;
        border-color: {{data.button_color}} !important;
    } 
#tabs-{{data.block_layout}} .nav-tabs .nav-link:hover{
        background-color: {{data.button_color}} !important;
    }
#tabs-{{data.block_layout}} h4, #tabs-{{data.block_layout}} p, #tabs-{{data.block_layout}} h3, #tabs-{{data.block_layout}} h2{    
        color: {{data.text_color}}!important;
    }      
#tabs-{{data.block_layout}}{
        padding-top: {{data.height}} !important;        
        padding-bottom: {{data.height}} !important;        
    }             
</style>