[viewBag]
==
<section class="cid-rpoGy1l4LK" data-bg-video="{{data.url}}" id="video-{{data.block_layout}}">
    
    <figure class="mbr-figure align-center container">
        <div class="video-block" style="width: 80%;">
            <div><iframe class="mbr-embedded-video" src="" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
        </div>
    </figure>
    
</section>




<style>
#video-{{data.block_layout}}{
        background: linear-gradient(0deg, {{data.background_color}}, #ffffff)!important; 
    }
#video-{{data.block_layout}}{
        padding-top: {{data.height}} !important;        
    }             
</style>